# Dependencies
node_modules/

# Video files
videos/
videos2/

# Except these example videos
!videos/example_1.mp4
!videos/example_2.mp4

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: OS specific files
.DS_Store
Thumbs.db 

# Config file
config.json