# Dependencies
node_modules/

# Video files
videos/*
videos2/*

# Then, explicitly allow these files
!videos/example_1.mp4
!videos/example_2.mp4
!videos/example_1.json
!videos/example_2.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: OS specific files
.DS_Store
Thumbs.db 

# Config file
config.json